# Specify filepatterns you want git to ignore.
/target/
/.settings/
/batch/
/CSV/
/extlib/
/glassfish/
/lib/
/pe-resources/
/properties/
/resources/
/tool/
.classpath
.project
build.properties
build.xml
eclipse-codeformat.xml
eclipse-codetemplates.xml