## config for locale
locales=ja,en,zh_CN
#日本語タイトル
0_ja=登録日時
1_ja=登録者
2_ja=最終更新日時
3_ja=最終更新者
4_ja=名称
5_ja=URLリンク文字列
6_ja=コメント
7_ja=関連情報URL
8_ja=明細行フォルダ名
9_ja=No
10_ja=顧客リレーション
#注意： 8_jaキーはプログラムで使っているので、変更しない。

#英語タイトル
0_en=Registration date
1_en=Registrant
2_en=Date/time last updated
3_en=Last updater
4_en=Name
5_en=URL link character string
6_en=Comment
7_en=Related information URL
8_en=Detail row folder name
9_en=No
10_en=Customer relation

#中国語
0_zh_CN=登记日期
1_zh_CN=登记人
2_zh_CN=最终更新日期
3_zh_CN=最终更新人
4_zh_CN=名称
5_zh_CN=URL链接字符串
6_zh_CN=说明
7_zh_CN=相关信息URL
8_zh_CN=明细栏文件夹名
9_zh_CN=No
10_zh_CN=顾客联系
